<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <title>Shopping List</title>
  </head>
  <body>
    <div id="shopping-list">
      <!-- Header -->
      <div class="header">
        <h1>{{ header || 'Welcome'}}</h1>
        <button
          class="btn btn-cancel"
          @click="editing = !editing"
          v-if="editing"
        >
          Cancel
        </button>
        <button class="btn btn-primary" @click="editing = !editing" v-else>
          Add Item
        </button>
      </div>

      <div v-if="editing" class="add-item-form">
        <!-- Input Box -->
        <input
          @keyup.enter="saveItem"
          type="text"
          v-model="newItem"
          placeholder="Add a new item"
        />

        <!-- Priority Toggle -->
        <label for="">
          <input type="checkbox" v-model="newItemHighPriority" /> High Priority
        </label>

        <!-- Save Button -->
        <button
          @click="saveItem"
          :disabled="newItem.length === 0"
          class="btn btn-primary"
        >
          Save Item
        </button>
      </div>

      <p v-if="items.length === 0">Nice Job! You've bought all your items!</p>

      <!-- List Rendering -->
      <ul>
        <li v-for="({id, label}, index) in items" :key="id">{{ label }}</li>
      </ul>
    </div>
  </body>
  <!-- Add Vue3 via CDN -->
  <script src="https://unpkg.com/vue@3"></script>
  <!-- Instantiate Vue -->
  <script>
    const shoppingListApp = Vue.createApp({
      data() {
        return {
          header: 'Shopping List App',
          editing: false,
          items: [
            // {
            //   id: 1,
            //   label: '10 party hats',
            // },
            // {
            //   id: 2,
            //   label: '2 board games',
            // },
            // {
            //   id: 3,
            //   label: '20 cups',
            // },
          ],
          newItem: '',
          newItemHighPriority: false,
        };
      },
      methods: {
        saveItem() {
          this.items.push({ id: this.items.length + 1, label: this.newItem });
          this.newItem = '';
        },
      },
    }).mount('#shopping-list');
  </script>
</html>
